.span1 {
    color: aliceblue;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 3.5em; 
  }
  
  
  
  .rows {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  