.Desc1{
    color: rgb(241, 247, 247);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    size: 18px;

}
.Desc{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;
    background-color: black;
    color: azure;
}
.row{
    justify-content: center;
    align-items: center;
    text-align: center;
}