.Span1{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;
    margin-top: 50px;
    
    

}
@media only screen and (max-width: 600px) {
    .Span1 {
      font-size: 20px; 
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .header1 {
      margin-top: 30px; 
    }
  }