.Span1{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.header1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;

}