.Span1{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;
    margin-top: 50px;
    
    

}