.img1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgclass{
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .imgclass {
      width: 100%; 
      max-width: 100%;
      height: auto;
    }
  }